@tailwind base;
@tailwind components;
@tailwind utilities;

.left,
.right {
  width: 50%;
}

thead,
tbody {
  width: 80%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

th,
td {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 0px;
}

td>input[type="text"] {
  width: 70%;
}

td>input[type="number"] {
  width: 50%;
}

td>input {
  border: 1px solid gray;
  text-align: center;
  border-radius: 5px;
}

td {
  background-color: lightskyblue;
  padding: 7px 0px;
}

.output th, .output td{
  border: 1px solid black;
}


@media screen and (max-width:820px) {

  thead,
  tbody {
    width: 95%;
  }

  td>input[type="number"] {
    width: 50%;
  }

  .header {
    flex-direction: column;
    gap: 8px;
    justify-content: center;
  }
}

@media screen and (max-width:600px) {
  td>input[type="text"] {
    width: 80%;
  }

  .left {
    flex-direction: column;
    gap: 3px;
    justify-content: center;
  }

  .header{
    padding: 0px 0px;
  }

  .right{
    
    font-size: 15px;
    width: 100%;
  }

  .left>select {
    font-size: 13px;
  }

  .header {
    height: 120px;
    gap: 15px;
  }

  td>input[type="number"] {
    width: 60%;
  }

  thead,
  tbody {
    width: 100%;
  }

  th {
    font-size: small;
  }

  h1 {
    font-size: 20px !important;
  }

  .avg-time{
    flex-direction: column;
    align-items: center;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}